<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team Division</th>
      <% if user_signed_in? %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <% if team.club_type.present? %>
          <td><%= team.club_type.name %></td>
        <% else %>
          <td>Club Type</td>
        <% end %>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', team, :class => "", remote: true %></td>
          <td><%= link_to 'Edit', edit_team_path(team) %></td>
          <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if user_signed_in? %>

  <%= link_to 'New Team', new_team_path %>

<% end %>
