<p id="notice"><%= notice %></p>

<p>
  <H2><%= @team.name %>  <%= image_tag("glenwood-rams.svg", :size => "40x40", :alt => "rams") %></H2>
  
</p>

</br>

<div class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="cell small-4">  	
  	    <H4>Players</H4>
  		<div class="grid-x grid-margin-x">
			<% @team.players.order(jersey_number: :asc).each do |player| %>

			  <div class="cell small-1 text-right">
			  	<%= player.jersey_number %>
			  </div>
		      
		      <div class="cell small-11">
				<%= link_to player do %>
				  <%= player.firstName %> <%= player.lastName %>
				<% end %>
		      </div>
			<% end %>
		</div>
	</div>

    <div class="cell small-8">

		<h4>Games</h4>

		<% home_games = Game.where(:home_team_id => @team.id) %>

		<% home_games.each do |home_game| %>

			<%= link_to home_game, :class => "", remote: true do %>
				Home - <%= home_game.game_date_time.strftime("%d %b %Y") %> - <%= home_game.away_team.name %>

				<% if home_game.home_team_score > home_game.away_team_score %>
					<b style="color:green;">Win <%= home_game.home_team_score %>-<%= home_game.away_team_score %></b>
				<% else %>
					<b style="color:red;">Loss <%= home_game.home_team_score %>-<%= home_game.away_team_score %></b>
				<% end %> 
			<% end %>

			</br>
		<% end %>

		<% away_games = Game.where(:away_team_id => @team.id) %>

		<% away_games.each do |away_game| %>

			<%= link_to away_game, :class => "", remote: true do %>
				Away - <%= away_game.game_date_time.strftime("%d %b %Y") %> - <%= away_game.home_team.name %>

				<% if away_game.away_team_score > away_game.home_team_score %>
					<b style="color:green;">Win <%= away_game.away_team_score %>-<%= away_game.home_team_score %></b>
				<% else %>
					<b style="color:red;">Loss <%= away_game.away_team_score %>-<%= away_game.home_team_score %></b>
				<% end %> 
			<% end %>

			</br>
		<% end %>

    </div>
  </div>
</div>




<% if user_signed_in? %>

	<%= link_to 'Edit', edit_team_path(@team) %> |
	<%= link_to 'Back', teams_path %>

<% end %>
