<p id="notice"><%= notice %></p>

<p>
  <H2><%= @team.name %>  <%= image_tag("glenwood-rams.svg", :size => "40x40", :alt => "rams") %></H2>
  
</p>

</br>

<H4>Players</H4>

<% @team.players.each do |player| %>
  <%= link_to player do %>
  	<p><%= player.firstName %> <%= player.lastName %></p>
  <% end %>
<% end %>


</br>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
