<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<% @team.players.each do |player| %>
  <%= link_to player do %>
  	<%= player.firstName %> <%= player.lastName %>
  <% end %>
</br>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
