
<%= simple_form_for(@player_game_subdatum) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :game_id %>
  <%= f.hidden_field :team_id %>
  <%= f.hidden_field :player_id %>

  <p>
    <%= Player.find(@player_game_subdatum.player_id).firstName %>
  </p>

  <p>
    <%= Team.find(@player_game_subdatum.team_id).name %>
  </p>

  <p>
    <%= Game.find(@player_game_subdatum.game_id).game_date_time %>
  </p>

  <div class="form-inputs">
    <%= f.input :started %>
    <%= f.input :available %>
    <%= f.input :motm %>
    <%= f.input :minutes %>
    <%= f.input :attemptedPasses %>
    <%= f.input :completedPasses %>
    <%= f.input :corners %>
    <%= f.input :crosses %>
    <%= f.input :clearings %>
    <%= f.input :longBalls %>
    <%= f.input :thruBalls %>
    <%= f.input :keyPasses %>
    <%= f.input :turnovers %>
    <%= f.input :offsides %>
    <%= f.input :dribbles %>
    <%= f.input :dispossessed %>
    <%= f.input :fouled %>
    <%= f.input :shots %>
    <%= f.input :shotsOnTarget %>
    <%= f.input :assists %>
    <%= f.input :goals %>
    <%= f.input :fiftyFiftiesWon %>
    <%= f.input :tackles %>
    <%= f.input :dribblePast %>
    <%= f.input :interceptions %>
    <%= f.input :recoveries %>
    <%= f.input :blockedShots %>
    <%= f.input :ownGoals %>
    <%= f.input :saves %>
    <%= f.input :highCatches %>
    <%= f.input :goalsAgainst %>
    <%= f.input :fouls %>
    <%= f.input :yellowCards %>
    <%= f.input :redCards %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
