<p id="notice"><%= notice %></p>

<h1>Player Game Subdata</h1>

<table>
  <thead>
    <tr>
      <th>Minutes</th>
      <th>Attemptedpasses</th>
      <th>Completedpasses</th>
      <th>Corners</th>
      <th>Crosses</th>
      <th>Clearings</th>
      <th>Longballs</th>
      <th>Thruballs</th>
      <th>Keypasses</th>
      <th>Attemptedfirsttouches</th>
      <th>Successfulfirsttouches</th>
      <th>Dribbles</th>
      <th>Dispossessed</th>
      <th>Fouled</th>
      <th>Shots</th>
      <th>Shotsontarget</th>
      <th>Assists</th>
      <th>Goals</th>
      <th>Fiftyfiftieswon</th>
      <th>Tackles</th>
      <th>Dribblepast</th>
      <th>Interceptions</th>
      <th>Interventions</th>
      <th>Blocks</th>
      <th>Owngoals</th>
      <th>Saves</th>
      <th>Fouls</th>
      <th>Yellowcards</th>
      <th>Redcards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_game_subdata.each do |player_game_subdatum| %>
      <tr>
        <td><%= player_game_subdatum.minutes %></td>
        <td><%= player_game_subdatum.attemptedPasses %></td>
        <td><%= player_game_subdatum.completedPasses %></td>
        <td><%= player_game_subdatum.corners %></td>
        <td><%= player_game_subdatum.crosses %></td>
        <td><%= player_game_subdatum.clearings %></td>
        <td><%= player_game_subdatum.longBalls %></td>
        <td><%= player_game_subdatum.thruBalls %></td>
        <td><%= player_game_subdatum.keyPasses %></td>
        <td><%= player_game_subdatum.attemptedFirstTouches %></td>
        <td><%= player_game_subdatum.successfulFirstTouches %></td>
        <td><%= player_game_subdatum.dribbles %></td>
        <td><%= player_game_subdatum.dispossessed %></td>
        <td><%= player_game_subdatum.fouled %></td>
        <td><%= player_game_subdatum.shots %></td>
        <td><%= player_game_subdatum.shotsOnTarget %></td>
        <td><%= player_game_subdatum.assists %></td>
        <td><%= player_game_subdatum.goals %></td>
        <td><%= player_game_subdatum.fiftyFiftiesWon %></td>
        <td><%= player_game_subdatum.tackles %></td>
        <td><%= player_game_subdatum.dribblePast %></td>
        <td><%= player_game_subdatum.interceptions %></td>
        <td><%= player_game_subdatum.interventions %></td>
        <td><%= player_game_subdatum.blocks %></td>
        <td><%= player_game_subdatum.ownGoals %></td>
        <td><%= player_game_subdatum.saves %></td>
        <td><%= player_game_subdatum.fouls %></td>
        <td><%= player_game_subdatum.yellowCards %></td>
        <td><%= player_game_subdatum.redCards %></td>
        <td><%= link_to 'Show', player_game_subdatum %></td>
        <td><%= link_to 'Edit', edit_player_game_subdatum_path(player_game_subdatum) %></td>
        <td><%= link_to 'Destroy', player_game_subdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Game Subdatum', new_player_game_subdatum_path %>
