<p id="notice"><%= notice %></p>

<p>
    <%= Player.find(@player_game_subdatum.player_id).firstName %>
</p>

<p>
    <%= Team.find(@player_game_subdatum.team_id).name %>
</p>

<p>
    <%= Game.find(@player_game_subdatum.game_id).dateTime %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @player_game_subdatum.minutes %>
</p>

<p>
  <strong>Attemptedpasses:</strong>
  <%= @player_game_subdatum.attemptedPasses %>
</p>

<p>
  <strong>Completedpasses:</strong>
  <%= @player_game_subdatum.completedPasses %>
</p>

<p>
  <strong>Corners:</strong>
  <%= @player_game_subdatum.corners %>
</p>

<p>
  <strong>Crosses:</strong>
  <%= @player_game_subdatum.crosses %>
</p>

<p>
  <strong>Clearings:</strong>
  <%= @player_game_subdatum.clearings %>
</p>

<p>
  <strong>Longballs:</strong>
  <%= @player_game_subdatum.longBalls %>
</p>

<p>
  <strong>Thruballs:</strong>
  <%= @player_game_subdatum.thruBalls %>
</p>

<p>
  <strong>Keypasses:</strong>
  <%= @player_game_subdatum.keyPasses %>
</p>

<p>
  <strong>Turnovers:</strong>
  <%= @player_game_subdatum.turnovers %>
</p>

<p>
  <strong>Offsides:</strong>
  <%= @player_game_subdatum.offsides %>
</p>

<p>
  <strong>Dribbles:</strong>
  <%= @player_game_subdatum.dribbles %>
</p>

<p>
  <strong>Dispossessed:</strong>
  <%= @player_game_subdatum.dispossessed %>
</p>

<p>
  <strong>Fouled:</strong>
  <%= @player_game_subdatum.fouled %>
</p>

<p>
  <strong>Shots:</strong>
  <%= @player_game_subdatum.shots %>
</p>

<p>
  <strong>Shotsontarget:</strong>
  <%= @player_game_subdatum.shotsOnTarget %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player_game_subdatum.assists %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @player_game_subdatum.goals %>
</p>

<p>
  <strong>Fiftyfiftieswon:</strong>
  <%= @player_game_subdatum.fiftyFiftiesWon %>
</p>

<p>
  <strong>Tackles:</strong>
  <%= @player_game_subdatum.tackles %>
</p>

<p>
  <strong>Dribblepast:</strong>
  <%= @player_game_subdatum.dribblePast %>
</p>

<p>
  <strong>Interceptions:</strong>
  <%= @player_game_subdatum.interceptions %>
</p>

<p>
  <strong>Recoveries:</strong>
  <%= @player_game_subdatum.recoveries %>
</p>

<p>
  <strong>Blocked Shots:</strong>
  <%= @player_game_subdatum.blockedShots %>
</p>

<p>
  <strong>Owngoals:</strong>
  <%= @player_game_subdatum.ownGoals %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @player_game_subdatum.saves %>
</p>

<p>
  <strong>Fouls:</strong>
  <%= @player_game_subdatum.fouls %>
</p>

<p>
  <strong>Yellowcards:</strong>
  <%= @player_game_subdatum.yellowCards %>
</p>

<p>
  <strong>Redcards:</strong>
  <%= @player_game_subdatum.redCards %>
</p>

<%= link_to 'Edit', edit_player_game_subdatum_path(@player_game_subdatum) %> |
<%= link_to 'Back', player_game_subdata_path %>
