<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to "Soccer Statistics", root_path %></li>
      <li><%= link_to "Games", games_path, :class => "", remote: true %></li>
      <li><%= link_to "Teams", teams_path, :class => "", remote: true %></li>
      <li><%= link_to "Players", players_path, :class => "", remote: true %></li>
      <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= link_to "Log out", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <% if user_signed_in? %>
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    <% end %>
  </div>
</div>

<div id="applicationContent">

<% if user_signed_in? %>

  <% if current_user.has_role? :player %>

    <%= render "players/show_player", player: current_user.players.first %>

  <% end %>

<% end %>

</div>