<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @game.game_date_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Fieldtype:</strong>
  <%= @game.fieldType %>
</p>

<p>
  <strong>Fieldconditions:</strong>
  <%= @game.fieldConditions %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @game.weather %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @game.temperature %>
</p>

<p>
  <strong>Minutes Played:</strong>
  <%= @game.total_min_played %>
</p>

<p>
  <strong>Game Type:</strong>
  <%= @game.game_type %>
</p>

<H3>
  <%= @game.home_team.name %> - <%= @game.home_team_score %>
</H3>


<table id="playerData" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Player</th>
      <th>Min</th>
      <th>Game Rating</th>
      <th>Passes Att</th>
      <th>Passes Comp</th>
      <th>Pass %</th>
      <th>Shots</th>
      <th>SOG</th>
      <th>Goals</th>
      <th>Assists</th>
      <th></th>    </tr>
  </thead>

  <tbody>
    <% @game.home_team.players.each do |homePlayer| %>
      <tr>
        <td>
          <%= link_to homePlayer do %>
            <%= homePlayer.firstName %> <%= homePlayer.lastName %>
          <% end %>
        </td>
          <% playerGameStats = PlayerGameSubdatum.where(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id).first %>
        <% if playerGameStats.present? %>
          <td><%= playerGameStats.minutes %></td>          
          <td><%= number_with_precision(playerGameStats.gameRating, :precision => 2) %></td>          
          <td><%= playerGameStats.attemptedPasses %></td>
          <td><%= playerGameStats.completedPasses %></td>
          <td><%= number_with_precision(playerGameStats.passingPercentage, :precision => 2) %>%</td>
          <td><%= playerGameStats.shots %></td>
          <td><%= playerGameStats.shotsOnTarget %></td>
          <td><%= playerGameStats.goals %></td>
          <td><%= playerGameStats.assists %></td>
          <td><%= link_to 'Edit Player Stats', edit_player_game_subdatum_path(playerGameStats.id), :class => "", remote: true %></td>
        <% else %>
          <td></td> 
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to 'Add Player Stats', new_player_game_subdatum_path(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id), :class => "", remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<H3>
  <%= @game.away_team.name %> - <%= @game.away_team_score %>
</H3>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Min</th>
      <th>Game Rating</th>
      <th>Passes Att</th>
      <th>Passes Comp</th>
      <th>Pass %</th>
      <th>Shots</th>
      <th>SOG</th>
      <th>Goals</th>
      <th>Assists</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game.away_team.players.each do |awayPlayer| %>
      <tr>
        <td>
          <%= link_to awayPlayer do %>
            <%= awayPlayer.firstName %> <%= awayPlayer.lastName %>
          <% end %>
        </td>
        <% playerGameStats = PlayerGameSubdatum.where(:player_id => awayPlayer.id, :team_id => @game.away_team.id, :game_id => @game.id).first %>
        <% if playerGameStats.present? %>
          <td><%= playerGameStats.minutes %></td>
          <td><%= number_with_precision(playerGameStats.gameRating, :precision => 2) %></td>          
          <td><%= playerGameStats.attemptedPasses %></td>
          <td><%= playerGameStats.completedPasses %></td>
          <td><%= number_with_precision(playerGameStats.passingPercentage, :precision => 2) %>%</td>
          <td><%= playerGameStats.shots %></td>
          <td><%= playerGameStats.shotsOnTarget %></td>
          <td><%= playerGameStats.goals %></td>
          <td><%= playerGameStats.assists %></td>
          <td><%= link_to 'Edit Player Stats', edit_player_game_subdatum_path(playerGameStats.id), :class => "", remote: true %></td>
        <% else %> 
          <td></td> 
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to 'Add Player Stats', new_player_game_subdatum_path(:player_id => awayPlayer.id, :team_id => @game.away_team.id, :game_id => @game.id), :class => "", remote: true %><td/>
        <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<script>
  $(document).ready(function() {
      $('#playerData').DataTable();
  } );
</script>
