<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @game.dateTime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Fieldtype:</strong>
  <%= @game.fieldType %>
</p>

<p>
  <strong>Fieldconditions:</strong>
  <%= @game.fieldConditions %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @game.weather %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @game.temperature %>
</p>

<p>
  <strong>Home Team:</strong>
  <%= @game.home_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player Names</th>
    </tr>
  </thead>

  <tbody>
    <% @game.home_team.players.each do |homePlayer| %>
      <% homePlayer.firstName %> <% homePlayer.lastName %>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Away Team:</strong>
  <%= @game.away_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player Names</th>
    </tr>
  </thead>

  <tbody>
    <% @game.away_team.players.each do |awayPlayer| %>
      <% awayPlayer.firstName %> <% awayPlayer.lastName %>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
