<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @game.dateTime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Fieldtype:</strong>
  <%= @game.fieldType %>
</p>

<p>
  <strong>Fieldconditions:</strong>
  <%= @game.fieldConditions %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @game.weather %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @game.temperature %>
</p>

<p>
  <strong>Home Team:</strong>
  <%= @game.home_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player Names</th>
    </tr>
  </thead>

  <tbody>
    <% @game.home_team.players.each do |homePlayer| %>
      <tr>
        <td><%= homePlayer.firstName %> <%= homePlayer.lastName %></td>
        <td>
          <% playGameTest = PlayerGameSubdatum.where(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id).first %>
          <% if playGameTest.present? %>
            <%= link_to 'Edit Player Stats', edit_player_game_subdatum_path(playGameTest.id) %>
          <% else %> 
            <%= link_to 'Add Player Stats', new_player_game_subdatum_path(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Away Team:</strong>
  <%= @game.away_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player Names</th>
    </tr>
  </thead>

  <tbody>
    <% @game.away_team.players.each do |awayPlayer| %>
      <tr>
        <td><%= awayPlayer.firstName %> <%= awayPlayer.lastName %></td>
      </tr> 
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
