<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @game.dateTime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Fieldtype:</strong>
  <%= @game.fieldType %>
</p>

<p>
  <strong>Fieldconditions:</strong>
  <%= @game.fieldConditions %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @game.weather %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @game.temperature %>
</p>

<p>
  <strong>Home Team:</strong>
  <%= @game.home_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Min</th>
      <th>Opponent Rating</th>
      <th>Game Rating</th>
      <th>Passes Att</th>
      <th>Passes Comp</th>
      <th>Pass %</th>
      <th>Shots</th>
      <th>SOG</th>
      <th>Goals</th>
      <th>Assists</th>
      <th></th>    </tr>
  </thead>

  <tbody>
    <% @game.home_team.players.each do |homePlayer| %>
      <tr>
        <td><%= homePlayer.firstName %> <%= homePlayer.lastName %></td>
          <% playerGameStats = PlayerGameSubdatum.where(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id).first %>
        <% if playerGameStats.present? %>
          <td><%= playerGameStats.minutes %></td>
          <td><%= playerGameStats.opponent.club_type.score %></td>
          <td><%= number_with_precision(playerGameStats.gameRating, :precision => 2) %></td>          
          <td><%= playerGameStats.attemptedPasses %></td>
          <td><%= playerGameStats.completedPasses %></td>
          <td><%= number_with_precision(playerGameStats.passingPercentage, :precision => 2) %>%</td>
          <td><%= playerGameStats.shots %></td>
          <td><%= playerGameStats.shotsOnTarget %></td>
          <td><%= playerGameStats.goals %></td>
          <td><%= playerGameStats.assists %></td>
          <td><%= link_to 'Edit Player Stats', edit_player_game_subdatum_path(playerGameStats.id) %></td>
        <% else %> 
          <td><%= link_to 'Add Player Stats', new_player_game_subdatum_path(:player_id => homePlayer.id, :team_id => @game.home_team.id, :game_id => @game.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Away Team:</strong>
  <%= @game.away_team.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Min</th>
      <th>Opponent Rating</th>
      <th>Game Rating</th>
      <th>Passes Att</th>
      <th>Passes Comp</th>
      <th>Pass %</th>
      <th>Shots</th>
      <th>SOG</th>
      <th>Goals</th>
      <th>Assists</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game.away_team.players.each do |awayPlayer| %>
      <tr>
        <td><%= awayPlayer.firstName %> <%= awayPlayer.lastName %></td>
        <% playerGameStats = PlayerGameSubdatum.where(:player_id => awayPlayer.id, :team_id => @game.away_team.id, :game_id => @game.id).first %>
        <% if playerGameStats.present? %>
          <td><%= playerGameStats.minutes %></td>
          <td><%= playerGameStats.opponent.club_type.score %></td>
          <td><%= number_with_precision(playerGameStats.gameRating, :precision => 2) %></td>          
          <td><%= playerGameStats.attemptedPasses %></td>
          <td><%= playerGameStats.completedPasses %></td>
          <td><%= number_with_precision(playerGameStats.passingPercentage, :precision => 2) %>%</td>
          <td><%= playerGameStats.shots %></td>
          <td><%= playerGameStats.shotsOnTarget %></td>
          <td><%= playerGameStats.goals %></td>
          <td><%= playerGameStats.assists %></td>
          <td><%= link_to 'Edit Player Stats', edit_player_game_subdatum_path(playerGameStats.id) %></td>
        <% else %> 
          <td><%= link_to 'Add Player Stats', new_player_game_subdatum_path(:player_id => awayPlayer.id, :team_id => @game.away_team.id, :game_id => @game.id) %><td/>
        <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
