<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :player_firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :player_lastName %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :player_gender %>
  </div>

  <div class="field">
    <%= form.label :jersey_number %>
    <%= form.text_field :jersey_number, id: :jersey_number %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :player_dob, as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year - 5,
                              order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= collection_check_boxes(:player, :team_ids, @teams, :id, :name) %>
  </div>


  <div class="field">
    <%= collection_check_boxes(:player, :position_ids, @positions, :id, :name) %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
