<p id="notice"><%= notice %></p>


<H2><%= @player.firstName %> <%= @player.lastName %></H2>

<h4>Teams</h4>
<% @player.teams.each do |team| %>
  <%= link_to team do %>
  	<%= team.name %></br>
  <% end %>
<% end %>


<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @player.dob %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>


<% form_status = @player.fiveGameAverage - @player.twentyGameAverage %>

<% if form_status < -3 %>
  <%= image_tag("red_very_down.png", :size => "20x20", :alt => "very down") %>
<% elsif form_status < -1 %>
  <%= image_tag("red_medium_down.png", :size => "20x20", :alt => "down") %>
<% elsif form_status < 0 %>
  <%= image_tag("red_slightly_down.png", :size => "20x20", :alt => "slightly down") %>
<% elsif form_status > 3 %>
  <%= image_tag("green_very_up.png", :size => "20x20", :alt => "very up") %>
<% elsif form_status > 1 %>
  <%= image_tag("green_medium_up.png", :size => "20x20", :alt => "up") %>
<% elsif form_status > 0 %>
  <%= image_tag("green_slightly_up.png", :size => "20x20", :alt => "slightly up") %>
<% end %>

</p>

<ul class="tabs" data-tabs id="ratings-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Summary</a></li>
  <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Defensive</a></li>
  <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Offensive</a></li>
  <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Passing</a></li>
  <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Detailed</a></li>  
</ul>

<div class="tabs-content" data-tabs-content="ratings-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <table id="playerData" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Apps</th>
          <th>Min</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>Yel</th>
          <th>Red</th>
          <th>SpG</th>
          <th>PS%</th>
          <th>Aerials Won</th>
          <th>MotM</th>
          <th>Rating</th>    
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= @player.player_game_subdata.count %> 
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:minutes) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:goals) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:assists) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:yellowCards) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:redCards) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:shots).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:completedPasses).to_f / @player.player_game_subdata.sum(:attemptedPasses) * 100), :precision => 2)
               %>%
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:fiftyFiftiesWon) / @player.player_game_subdata.count %>
            </td>
            <td></td>
            <td>
              <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>
            </td>    
          </tr>
      </tbody>
    </table>

  </div>
  <div class="tabs-panel" id="panel2">
    <table id="playerData" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Apps</th>
          <th>Min</th>
          <th>Tackles</th>
          <th>Inters</th>
          <th>Recovs</th>
          <th>Fouls</th>
          <th>Clearances</th>
          <th>Dribbled Past</th>
          <th>Blocked Shots</th>
          <th>Own Goals</th>
          <th>Rating</th>    
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= @player.player_game_subdata.count %> 
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:minutes) %>
            </td>          
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:tackles).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>          
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:interceptions).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:recoveries).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:fouls).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:clearings).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:dribblePast).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:blockedShots).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:ownGoals).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>
            </td>    
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs-panel" id="panel3">
    <table id="playerData" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Apps</th>
          <th>Min</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>SpG</th>
          <th>SoT</th>
          <th>Key Passes</th>
          <th>Dribbles</th>          
          <th>Fouled</th>
          <th>Dispossessed</th>
          <th>Turnovers</th>
          <th>Rating</th>    
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= @player.player_game_subdata.count %> 
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:minutes) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:goals) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:assists) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:shots).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:shotsOnTarget).to_f / @player.player_game_subdata.sum(:shots) * 100), :precision => 2) %>%
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:keyPasses).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:dribbles).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:fouled).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:dispossessed).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:turnovers).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>
            </td>    
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs-panel" id="panel4">
    <table id="playerData" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Apps</th>
          <th>Min</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>Yel</th>
          <th>Red</th>
          <th>SpG</th>
          <th>PS%</th>
          <th>Aerials Won</th>
          <th>MotM</th>
          <th>Rating</th>    
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= @player.player_game_subdata.count %> 
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:minutes) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:goals) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:assists) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:yellowCards) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:redCards) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:shots).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:completedPasses).to_f / @player.player_game_subdata.sum(:attemptedPasses) * 100), :precision => 2)
               %>%
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:fiftyFiftiesWon) / @player.player_game_subdata.count %>
            </td>
            <td></td>
            <td>
              <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>
            </td>    
          </tr>
      </tbody>
    </table>  </div>
  <div class="tabs-panel" id="panel5">
    <table id="playerData" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Apps</th>
          <th>Min</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>Yel</th>
          <th>Red</th>
          <th>SpG</th>
          <th>PS%</th>
          <th>Aerials Won</th>
          <th>MotM</th>
          <th>Rating</th>    
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= @player.player_game_subdata.count %> 
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:minutes) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:goals) %>
            </td>          
            <td>
              <%= @player.player_game_subdata.sum(:assists) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:yellowCards) %>
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:redCards) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:shots).to_f / @player.player_game_subdata.count), :precision => 2) %>
            </td>
            <td>
              <%= number_with_precision((@player.player_game_subdata.sum(:completedPasses).to_f / @player.player_game_subdata.sum(:attemptedPasses) * 100), :precision => 2)
               %>%
            </td>
            <td>
              <%= @player.player_game_subdata.sum(:fiftyFiftiesWon) / @player.player_game_subdata.count %>
            </td>
            <td></td>
            <td>
              <%= number_with_precision(@player.twentyGameAverage, :precision => 2) %>
            </td>    
          </tr>
      </tbody>
    </table>
  </div>
</div>


<%= render 'show_player_ball_skills', :this_player_id => @player.id %>

<br/>

<%= link_to 'New Player Ball Skill', new_player_ball_skill_path(:player_id => @player.id) %>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

<script>
  $(document).foundation();
</script>


